@charset "UTF-8";
body {background: #f5f6f7;}
#wrapper {
	position: relative;
	display: grid;
/* 	grid-template-columns: 50px calc(100% - 50px); */
	width: 100%;
	height: 100%;
	background: url('../car_images/하늘.jpg') no-repeat top / auto 380px, #f5f6f7;
	padding: 380px 0 100px;
}
#wrapper:after {
	content:'문의내역';
	position: absolute;
	top:100px;
	left:50%;
	transform: translateX(-50%);
	font-size:2em;
}
#wrapper > .myPage_menu > div {
	position: absolute;
	top: 280px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}
#wrapper > .myPage_menu > div > button {
	border: 1px solid white;
	padding: 10px 20px;
	font-size: 15px;
	background: rgba(255,255,255,.6);
	cursor: pointer;
}

.list_btn {text-align: center;}


table {
	border-collapse: collapse;
	margin: 150px auto 100px;
	width: 70%;
}
table td:not(tr:first-child td), th {
	padding: 5px 0;
	border-bottom: 1px solid #e4dcd3;
}
table tr:not(tr:first-child) {
	transition:.2s;
}
table tr:not(tr:first-child):hover {
	background: rgb(228, 220, 211, .5)
}
table th {
	background:#e4dcd3;
}

table a {color: black;}

.list_btn a:not(.list_num) {
    background: #a5b99c;
    padding: 2px 5px;
    border-radius: 5px;
    color: #f5f6f7;
    border: none;
    cursor: pointer;
}
.list_num {
	color: #72846a;
}